# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# ===============================
# Environment Variables
# ===============================
.env

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Pytest / Coverage
# ===============================
.pytest_cache/
.coverage
htmlcov/

# ===============================
# Build Files
# ===============================
dist/
build/
*.egg-info/

# ===============================
# Migrations (if using later)
# ===============================
migrations/
